<!DOCTYPE html>

<html>
	<head lang="en">
	
		<title>Home</title>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width,initial-scale=1.0"/>		
		
		<link rel="stylesheet" type="text/css" href="theme.css">
		
		<link rel="stylesheet"
		href="http:maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
		</script>
		
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
		</script>
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans|Baumans' rel='stylesheet' type='text/css'/>
		
		<script src="modernizr.js"></script>
		<script src="respond.min.js"></script>
		
		<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
		
		<script type="text/javascript">window.jQuery || document.write('<script type="text\/javascript" src="js\/1.7.2.jquery.min"><\/script>')</script>
		
		<script src="lightbox.js"></script>
		<script src="prefixfree.min.js"></script>
		<script src="jquery.slides.min.js"></script>
		
		<link rel="stylesheet"
		href="http:maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
		</script>
		
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
		</script>
		
	</head>
	
	<body>
		<header>
			<a href="home.html">
			<div id="header">
				<h1>Accumula</h1><br>
				<h4>Your data found a secure home</h4>
			</div>
			</a>
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="login.html">Login</a></li>
					<li><a href="register.html">Register</a></li>
				</ul>
			</nav>
		</header>
		
		
		<section class="container">
			<h2 class="hidden">Accumula</h2>
			<article id="slider_content1">
				
			</article>
			<article id="slider_content2">
				
			</article>
			<article id="slider_content3">
				
			</article>
			
			<div id="slides">
				<img src="img/images.jpg" alt="Accumula" width="250px" height="250px">
				<img src="img/cloud-storage.jpg" alt="Accumula" width="250px" height="250px">
				<img src="img/Personal-Cloud-Storage1.jpg" alt="Accumula" width="250px" height="250px">
			</div>
		</section>
		
		<section id="spacer">
			<h2 class="hidden">Accumula</h2>
			<p>Your data found a safe home</p>
			<div class="search">
				<form action="#">
					<input type="text" name="sitesearch" placeholder="Enter a word..."/>
					<input type="submit" name="start_search" class="button" value="Search"/>
				</form>
			</div>
		</section>
		
	<section id="boxcontent">	
		<a href="login.html"> Go to login page</a><br>
		<p>Not registered yet <a href="register.html">Register now</a></p><br>
	</section>
	
	<footer>
		<h2 class="hidden">Our footer</h2>
		<section id="copyright">
			<h3 class="hidden">Copyright notice</h3>
			<div class="wrapper">
				<div class="social">
					<a href="javascript:void(0)"><img src="img/1943324.jpg" alt="google plus" width="25"/></a>
					<a href="javascript:void(0)"><img src="img/EIpgSD2K.png" alt="twitter" width="25"/></a>		
					<a href="https://github.com/niks2010"><img src="img/download.png" alt="twitter" width="25"/></a>
				</div>
			&copy;Copyright 2014 by Nitish.All Right Reserved.
			</div>
		</section>
		
	</body>

</html>
